*
!Assets/
!Assets/aruma256/
!Assets/aruma256/UdonPermission/
!Assets/aruma256/UdonPermission/Scripts/
!Assets/aruma256/UdonPermission/ProTools/
!Assets/aruma256/UdonPermission/ProTools/Scripts/
!Assets/aruma256/UdonPermission/ProTools/Integrations/
!Assets/aruma256/UdonPermission/ProTools/Integrations/Scripts/
!Assets/**/*.cs
!.gitignore
